@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&family=Oxygen&family=Roboto+Slab:wght@300&display=swap');

/*
font-family: 'Oleo Script Swash Caps', cursive;
font-family: 'Oxygen', sans-serif;
font-family: 'Roboto Slab', serif;
*/

:root{
    --backround-color:rgb(255, 232, 240);
    --main-color:rgb(255, 187, 210);
    --secondary-color:rgb(255, 181, 188);
    --section-color:rgb(255, 121, 121) ;
}

*{
    box-sizing: border-box;
}
html{
    margin: 0;
    padding: 0;
    height: 100%;
    scroll-behavior: smooth;
}

body{
    background-color: var(--backround-color);
    min-height: 100%;
    padding: 5px;
    padding-bottom: 20px;
}
.site-background {
    background-color: white;
}

#section-header{
    text-align: center;
    padding-bottom: 20px;
    margin: auto;
    font-size: 30px;
    font-family: 'Oleo Script Swash Caps', cursive;
    color: var(--section-color);
    height: 50px;
    width: 100%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 181, 188, 0.5) 50%, rgba(255, 255, 255, 1) 100%);
}

/*  
        menu / navigation
*/

.menu{
    height: 60px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content:space-between;
    border: 13px solid var(--backround-color);
    border-bottom: 3px solid var(--backround-color);
    position:fixed;
    top:0px;
    left: 0;
    z-index: 1111;
}
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float:right;
    text-align: center;
    padding: 10px;
}
.menu li{
    display: inline;
    font-family: 'Oxygen', sans-serif;
    font-size: 20px;
    padding-right: 30px;
}
.menu a{
    color: var(--secondary-color);
    text-decoration: none;
}
.menu a:visited{
    color: var(--secondary-color);
}
.menu a:hover{
    color: var(--section-color);
}
.menu p {
    width: 200px;
    padding-top: 3px;
    margin: 0;
    padding-left: 30px;
    font-size: 30px;
    color: var(--secondary-color);
    font-family: 'Oleo Script Swash Caps', cursive;
}


/* @media only screen and (max-width: 1600px) {
    .menu{
        width: 98.3%;
    }
}
  @media only screen and (max-width: 1300px) {
    .menu{
        width: 98%;
    }
}
@media only screen and (max-width: 800px) {
    .menu{
        width: 95%;
    }
} */


/*  
        header
*/

.header {
    width: 100%;
    height: 600px;
    margin: auto;
    margin-bottom:50px;
    display: flex;
    justify-content:space-between;
    background-image:
    linear-gradient(180deg, rgba(255, 255, 255, 0.55) 50%, rgba(255, 188, 235, 0.6) 100%),
    url('/img/headerbg2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    clip-path: polygon(0% 0%, 100% 0%, 100% 92%, 60% 90%, 50% 100%, 40% 90%, 0 92%); 
}

#line-left {
    background-image: url("/img/headerbg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 40%;
    height: 200px;
    margin-top: 180px;
}
#line-middle{
    width: 380px;
    min-width: 360px;
    height: 500px;
}
#line-right {
    width: 40%;
    height: 200px;
    margin-top: 180px;
    float: right;
    background-image: url("/img/headerbg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#header-image{
    position: absolute;
    top: 150px;
    left: 50%;
    margin-top: -75px;
    margin-left: -175px;
}

/*  
        about
*/
#container-about{
    background-color: var(--secondary-color);
    margin-top: 100px;
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#aboutme-image{
    width: 400px;
}
#aboutme-image img{
    min-width: 300px;
    width: 70%;
}
#aboutme-text{
    font-family: 'Oxygen', sans-serif;
    font-size: 14px;
    color: black;
    width: 50%;
    text-align: justify;
    padding-top: 35px;
}
#aboutme-text h3{
    text-align: center;
    font-size: 20px;
}
.aboutme {
    padding-bottom: 50px;
    padding-top:50px;
}

@media (max-width: 1350px) {
    #container-about{
        margin-top: 50px;
        background-color: var(--secondary-color);
        width: 100%;
        height: 750px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        padding-bottom: 50px;
    }
    #aboutme-image{
        width: 400px;
    }
    #aboutme-image img{
        min-width: 300px;
        width: 70%;
    }
    #aboutme-text{
        font-family: 'Oxygen', sans-serif;
        font-size: 14px;
        color: black;
        width: 90%;
        text-align: justify;
        padding-top: 35px;
    }
    .aboutme {
        padding-bottom: 0px;

    }
}

@media only screen and (max-width: 768px) {
    #container-about{
        padding-bottom: 20px;
        margin-top: 50px;
        background-color: var(--secondary-color);
        width: 100%;
        height: 850px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
    #aboutme-image{
        width: 400px;
    }
    #aboutme-image img{
        min-width: 300px;
        width: 70%;
    }
    #aboutme-text{
        font-family: 'Oxygen', sans-serif;
        font-size: 14px;
        color: black;
        width: 90%;
        text-align: justify;
        padding-top: 35px;
    }
    .aboutme {
        padding-bottom: 0px;
    }
} 

/*  
        pictures
*/
.pictures{
    margin-top: 150px;
    padding-top:50px;
}
#pictures-container{
    display: flex;
    justify-content:center;
    width: 100%;
    padding: 0;
    flex-flow: row wrap;
}
#picbg{
    background-color: var(--backround-color);
    padding-bottom: 50px;
}
#pictures-box{
    margin-top: 50px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 0;
    width: 250px;
    height: 250px;
}
#pictures-box img{
    width: 250px;
    height: 250px;
    border-radius: 96% 4% 95% 5% / 12% 87% 13% 88%;
    border: var(--secondary-color) 4px dotted;
    display: block;
}
#pictures-box img:hover{
    opacity: 0.7;
    border: 6px solid var(--section-color);
    cursor: crosshair;
}
@media only screen and (max-width: 950px) {
    #pictures-box{
        margin-top: 50px;
        margin-right: 10px;
        margin-left: 10px;
        margin-bottom: 0;
        width: 200px;
        height: 200px;
    }
    #pictures-box img{
        width: 200px;
        height: 200px;
        border-radius: 96% 4% 95% 5% / 12% 87% 13% 88%;
        border: var(--secondary-color) 4px dotted;
        display: block;
    }
}
@media only screen and (max-width: 768px) {
    #pictures-box{
        margin-top: 50px;
        margin-right: 5px;
        margin-left: 5px;
        margin-bottom: 0;
        width: 150px;
        height: 150px;
    }
    #pictures-box img{
        width: 150px;
        height: 150px;
        border-radius: 96% 4% 95% 5% / 12% 87% 13% 88%;
        border: var(--secondary-color) 4px dotted;
        display: block;
    }
}

/*  
        testimonial
*/



/*  
        services
*/
#services-header {
    text-align: center;
    margin-bottom: 20px;
    margin: auto;
    margin-top: 10px;
    font-size: 20px;
    font-family: 'Oxygen', sans-serif;
    color: var(--section-color);
    height: 50px;
    width: 100%;
}
#table-services {
    width: 50%;
    margin: 0 auto;
    justify-content:center;
	align-items:center;
	min-height:100vh;
}
.table {
	width:100%;
    padding: 0px;
    background-color: rgba(255, 255, 255, 0.575);
    border: 2px dotted pink;
    border-radius: 10px;
    margin-bottom: 10px;
}

.table-header {
	display:flex;
	width:100%;
	background: var(--secondary-color);
    border-radius: 10px;
    padding:10px 0;
    font-family: 'Oxygen', sans-serif;
}
.table-row {
	display:flex;
	width:100%;
	padding:10px 0;
    font-family: 'Oxygen', sans-serif;
    font-size: 14px;
}

.table-data, .header__item {
	flex: 1 1 20%;
	text-align:center;
}
.services{
    background-image:
    linear-gradient(180deg, rgba(255, 255, 255, 0.8) 0%,rgba(255, 255, 255, 0) 20%,rgba(255, 255, 255, 0) 80%, rgba(255, 255, 255, 1) 100%),
    url('/img/servicesbg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 1550px;
}
#services-h3{
    text-align: center;
    margin-bottom: 20px;
    margin: auto;
    margin-top: 10px;
    font-size: 16px;
    font-family: 'Oxygen', sans-serif;
    color: var(--section-color);
    height: 50px;
    width: 100%;
}
@media (max-width: 1100px){
    #table-services {
        width: 80%;
        margin: 0 auto;
        justify-content:center;
        align-items:center;
        min-height:100vh;
    }
}
@media (max-width: 700px){
    #table-services {
        width: 95%;
        margin: 0 auto;
        justify-content:center;
        align-items:center;
        min-height:100vh;
    }
    .services{
        height: 1620px;
    }
}

/*  
        contact
*/
#contact-container{
    display:flex;
    align-content: center;
    justify-content: space-between;
    height: 400px;
    width: 100%;
    background-image:
    linear-gradient(180deg, rgba(255, 205, 226, 0.8) 50%, rgba(255, 255, 255, 0.8) 100%),
    url('/img/contactbg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    flex-wrap: wrap;
}
.gmap_canvas{
    border: 5px dashed var(--section-color);
}
#contact-map{
    height: 300px;
    width: 300px;
    margin: auto;
    margin-right: 5%;
}
#contact-info{
    font-family: 'Oxygen', sans-serif;
    font-size: 14px;
    text-align: center;
    background-color: rgba(240, 248, 255, 0.5);
    border: 5px dashed var(--section-color);
    height: 300px;
    width: 300px;
    margin: auto;
    margin-left:5%;
    color: var(--section-color);
}
.contact a{
    color: var(--section-color);
}
.contact a:hover{
    color: rgb(255, 0, 128);
}
.contact a:visited{
    color: var(--section-color);
}
@media only screen and (max-width: 709px) {

    #contact-map{
        height: 300px;
        width: 300px;
        margin-bottom: 20px;
        margin-top: auto;
        margin-left: auto;
        margin-right: auto;
    }
    #contact-info{
        font-family: 'Oxygen', sans-serif;
        font-size: 14px;
        text-align: center;
        background-color: rgba(240, 248, 255, 0.5);
        border: 5px dashed var(--section-color);
        height: 300px;
        width: 300px;
        color: var(--section-color);
        margin: auto;
    }
}
@media (max-width: 642px){
    #contact-container{
        height: 700px;
    }
}